.App {
  text-align: center;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.items-list li {
  border: 1px solid black;
  width: 15%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  cursor: pointer;
}

.item-btn {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
}

.item-toggle {
  float: left;
  background: none;
  border: none;
  cursor: pointer;
}

.item-btn-hide {
  display: none;
}

.item-edit {
  background: none;
  border: none;
}

.items-list .active {
  background-color: #e8f5e9;
}

.items-list .removed {
  background-color: #ffebee;
}

.filter-block {
  display: inline-block;
}

.filter-block li {
  display: inline-block;
  color: blue;
  cursor: pointer;
  margin: 0 6px;
}

.filter-block li:hover, .active-filter {
  text-decoration: underline;
}

.empty {
  border: none !important;
}
