.App {
  text-align: center;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

button {
  outline: none;
}

.add-item input {
  padding: 6px;
}

.items-container {
  margin-top: 25px;
}

.items-list {
  width: 300px;
  margin: 0 auto;
  margin-left: 30px;
  display: inline-block;
  vertical-align: top;
}

.items-list li {
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
}

.item {
  text-align: center;
}

.item-edit {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.item-toggle {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.item-editing {
  background: none;
  border: none;
  font-size: 16px;
}

.item-btn-hide {
  display: none;
}

.item-title {
  margin-left: 35px;
}

.items-list .active {
  background-color: #e8f5e9;
}

.items-list .inactive {
  background-color: #ffebee;
}

.filter-by-title {
  padding: 6px;
}

.filter-block {
  display: inline-block;
}

.filter-block li {
  display: inline-block;
  color: blue;
  cursor: pointer;
  margin: 0 6px;
}

.filter-block li:hover, .active-filter {
  text-decoration: underline;
}

.empty {
  border: none !important;
}
