body {
  background-color: #f5f5f5;
}

.App {
  padding: 12px;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

button {
  outline: none;
}

.add-item input {
  padding: 6px;
}

.items-container {
  margin-top: 25px;
}

.items-list {
  vertical-align: top;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.item {
  text-align: center;
  margin-right: 8px;
  height: 100px;
  display: inline-block;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 5px;
  flex: 0 0 23%;
}

.item-edit {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.item-toggle {
  float: right;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.item-editing {
  background: none;
  border: none;
  font-size: 16px;
}

.item-btn-hide {
  display: none;
}

.item-plot {
  text-align: center;
}

.items-list .active {
  background-color: #e8f5e9;
}

.items-list .inactive {
  background-color: #ffebee;
}

.filter-by-title {
  padding: 6px;
}

.filter-block {
  display: inline-block;
  float: left;
  margin-right: 15px;
}

.filter-block li {
  display: inline-block;
  color: blue;
  cursor: pointer;
  margin: 0 6px;
}

.filter-block li:hover, .active-filter {
  text-decoration: underline;
}

.filter-date {
  background-color: white;
  display: block;
  margin-top: 10px;
  width: 166px;
  padding: 6px;
}

.empty {
  border: none !important;
}

.pagination-list {
  margin: 0 auto;
  text-align: center;
}

.pagination-list li {
  display: inline-block !important;
  background-color: #ececec;
  font-size: 24px;
  padding: 3px;
  margin: 7px;
  cursor: pointer;
}
